img {
  max-width: 100%;
  height: auto;
  border: 5px solid #444;
  filter: grayscale(100%) contrast(110%) brightness(95%) sepia(10%);
  display: block;
  margin-bottom: 10px;
  transition: filter 0.3s ease;
}

img:hover {
  filter: none;
}
